*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: beige;
    --text-color: #111;
    --nav-bg: beige;
    --pin-bg: #f4f4f4;
    --shadow: rgba(0, 0, 0, 0.1);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 6px var(--shadow);
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
}

.theme-toggle{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--text-color);
}

.gallery{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-auto-rows: 10px;
    gap: 1.5rem;
}

.pin{
    background-color: var(--pin-bg);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    /* transition: transform 0.25s ease,  */
    /* box-shadow 0.25s ease; */
    /* grid-row-end: span 30; */
}

.pin img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  display: block;
}

/* .pin.tall {
  grid-row-end: span 45;
}

.pin.wide {
  grid-column: span 2;
  grid-row-end: span 30;
} */

.pin:hover {
  transform: translateY(-4px);
  transition: transform 0.2s ease;
  box-shadow: 0 12px 30px rgba(0,0,0,0,35);
}

.image-viewer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: background-color 0.4s ease;
}

.image-viewer.hidden {
  display: none;
}

.image-viewer img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 0.8rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

.nav-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  padding: 1rem;
}

.nav-btn.prev {
  position: absolute;
  left: 20px;
}

.nav-btn.next {
  position: absolute;
  right: 20px;
}

.close-btn:hover,
.nav-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #666;
}


body.dark {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --nav-bg: #1c1c1c;
  --pin-bg: #1f1f1f;
  --shadow: rgba(0, 0, 0, 0.6);
}

body.dark .footer {
  color: #aaa;
}
